<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>UK Localgroup disk | Main</title>
</head>
<body id="home">
    <header class="hero">
        <nav id="navbar">
            <div class="container">
                <h1>ATLAS</h1>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="/replicas.html">Replicas</a></li>
                    <li><a href="https://rucio-ui.cern.ch/">Rucio UI</a></li>
                </ul>
            </div>  
        </nav>
        <h1>UK Localgroup disk</h1>
        <p>List of datasets stored in UK LOCALGROUPDISK storage spacetokens.</p>
        <h2>Planned deletions: 7th October 2020</h2>
        <div class="deletion-scope">
            <ul>
                <li>Datasets older than 1 September 2018</li>
            </ul>
        </div>
    </header>
    <section>
        <h2>Links for datasets to be deleted</h2>
        <div class="other-pages">
            <ul>
                <li><a href="/"></a></li>
            </ul>
        </div>
    </section>
    <section>
        <h2>Links for all stored datasets</h2>
        <div class="other-pages">
            <ul>
                <li><a href="#"></a></li>
            </ul>
        </div>
    </section>
</body>
</html>