<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Owner | {{owner}}</title>
</head>
<body>
    <div class="container">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                  <th scope="col">RSE</th>
                  <th scope="col">Datasets</th>
                  <th scope="col">Out-of-date Datasets</th>
                </tr>
              </thead>
            <tbody>
            {% for item in rses %}
            <tr class="replica-list">
                <td><a href="/replicas?rse={{ item }}">{{ item }}</a></td>
                <td><a href="/replicas?rse={{ item }}&owner={{owner}}">{{ counts[item] }}</a></td>
                <td><a href="/replicas?rse={{ item }}&owner={{owner}}&older_than={{limit_date}}">{{ expired[item]}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
    </div>

</body>
</html>

